.textFieldContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    margin-top: 1rem;

    text-align: left;
}
.textField {
    display: flex;
    justify-content: center;

    border-radius: 16px;
    border: 1px solid var(--color-primary);

    padding: 20px 12px;

    font-size: 1rem;
    height: 2rem;
    width: 100%;
}

.textField:active {
    border: 3px solid var(--color-primary);
}
.textField:focus {
    border: 3px solid var(--color-primary);
}
.label {
    font-size: 0.95rem;
    font-weight: 600;
    color: #333;
}
.errorInput {
    color: var(--color-error);
}
.errorText {
    color: var(--color-error);
    font-size: .85rem;
    margin-top: .35rem;
}