.titleSection {
    justify-content: center;
    text-align: left;

    p {
        font-size: 16px;
    }
}
.featuredProductsSection {
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}
.featured-products-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x proximity;
    padding-bottom: .5rem;
}

.featured-products-container::-webkit-scrollbar {
    display: none;
}