.orderSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 0px 2rem;

}
.subtotalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0px 10px;

    border-bottom: 1px solid #ececec;

    p {
        color: #242323;
        font-size: .9rem;
        
    }
}
.totalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0px 10px;

    border-bottom: 1px solid #ececec;

    p {
        color: #242323;
        font-size: .9rem;
        
    }
}
