* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #375337;
  --color-secondary: rgb(237, 241, 241);

  --color-background: rgb(240, 247, 247);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
}
h1 {
  color: var(--color-primary);
  margin: 0;
}
p {
  margin-top: 1rem;
  font-size: 11px;
  letter-spacing: -0.5px;
}