.header {
    width: 100%;
    background-color: var(--color-primary);
    
}
.headerContainer {
    max-width: 1200px;
    min-height: 64px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;
}

.logo {
    max-height: 60px;
    width: auto;
}
.logoContainer {
    display: flex;
    align-items: center;
    height: 64px;
}

.navList {
    display: flex;
    

    list-style: none;
    margin: 0;
    padding: 0;
   
}

.navItem {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    padding: 0 18px;
}
.navItem a {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 500;
}
.navItem::after {
    content: "";

    position: absolute;

    bottom: 0;

    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 3px;

    border-radius: 999px;

    background: white;

    transition: width .25s ease;
}
.active::after {
    width: 28px;
}
.navItem:hover::after {
    width: 28px;
}
.headerActions {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    transition: color 0.2s ease;
}
.menuButton {
    display: none;
}

@media (max-width: 768px) {

    .menuButton {
        display: flex;
        background-color: var(--color-primary);
        border: none;
        align-items: center;
        justify-content: center;
    }
    .navList {
        display: none;
    }
}

