.card{

    display:flex;

    gap:24px;

    align-items:center;

    background:white;

    border-radius:12px;

    padding:20px;
    margin-top: 1rem;

    box-shadow:
        0 8px 24px rgba(0,0,0,.05);
}

.card img{

    width:120px;

    aspect-ratio:1;

    object-fit:contain;
}

.info{

    flex:1;

    display:flex;

    flex-direction:column;

    gap:.5rem;
}

.info h3{

    margin:0;
}

.info p{

    color:#666;
}

.remove{

    border:none;

    background:none;

    cursor:pointer;

    color:#d33;

    font-size:1.2rem;
}